<div>
    <style>
        /* @@@ OVERLAY*/

        #overlay-optin {
            position: fixed;
            /* Sit on top of the page content */
            width: 100%;
            /* Full width (cover the whole page) */
            height: 100%;
            /* Full height (cover the whole page) */
            visibility: hidden;
            top: 0;
            left: 0;
            right: 0;
            opacity: 0;
            -webkit-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            /* Black background with opacity */
            z-index: 99999;
            /* Specify a stack order in case youre using a different order for other elements */
        }

        /* @@@ OVERLAY - END*/

        #opt_in_modal * {
            line-height: normal;
            padding: 0;
            margin: 0;
        }

        #opt_in_modal {
            /* DEPTH 2 */
            visibility: hidden;
            opacity: 0;
            margin-bottom: 20px !important;
            width: 50vw;
            height: auto;
            position: absolute;
            background: white;
            top: 20%;
            left: 50%;
            margin-left: -22.5vw !important;
            margin-top: -15vh !important;
            z-index: 9999999;
            -webkit-box-shadow: 0.25px 0.25px 5px 0.25px #484e57;
            box-shadow: 0.25px 0.25px 5px 0.25px #484e57;
            border-radius: 3px;
            transition-duration: 0.65s;
        }

        #first-page-container {
            /* DEPTH 2 */
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            height: 100%;
        }

        #optin-modal-title {
            /*DEPTH 5 A*/
            text-align: center !important;
            font-size: 20px !important;
            padding-top: 30px !important;
            font-family: open sans, sans-serif;
            font-weight: lighter;
            letter-spacing: 0.4px;
            color: #8ec524;
            text-transform: capitalize;
        }

        #main-description-first-content-container {
            /*DEPTH 4*/
            padding: 42px 30px 30px 40px !important;
        }

        #main-description-first-content-container p {
            /*DEPTH 5 B*/
            letter-spacing: 0.25px !important;
            color: #30363e;
            font-size: 13px !important;
            font-family: open sans, sans-serif;
            line-height: 24px !important;
        }

        /* @@@ ESCAPE BUTTONS*/

        #first-page-buttons-direct-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }


        #accept-all-and-proceed,
        #optin-cancel-first-button {
            background-color: rgb(243, 243, 243);
            color: rgb(147, 147, 147);
        }

        /* @@@ ESCAPE BUTTONS - END*/

        @media(max-width: 1650px) {
            #opt_in_modal {
                width: 60vw;
                margin-left: -30vw !important;
            }
        }

        @media(max-width: 1350px) {
            #opt_in_modal {
                width: 75vw;
                margin-left: -37.5vw !important;
            }
        }

        @media(max-width: 1050px) {
            @supports not (-ms-high-contrast: none) {
                #opt_in_modal {
                    width: 85vw;
                    ;
                    margin-left: -42.5vw !important;
                }
            }
        }

        @media(max-width: 900px) {
            .cookie-name-and-plus-container,
            .cookie-name {
                width: 40%;
            }
            #first-page-buttons-direct-container {
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
            }
        }

        @media(max-width: 750px) {
            @supports not (-ms-high-contrast: none) {
                #opt_in_modal {
                    width: 92vw;
                    margin-left: -46vw !important;
                }
                #optin-modal-title {
                    line-height: 32px !important;
                    padding-left: 6px !important;
                    padding-right: 6px !important;
                }
                #main-description-first-content-container {
                    padding: 40px 20px 40px 20px !important;
                }
                #main-description-first-content-container p {
                    text-align: center !important;
                }
            }
        }

        @media(max-width: 580px) {
            @supports not (-ms-high-contrast: none) {
                #main-description-first-content-container {
                    padding-top: 28px !important;
                }
                #escape-buttons-container {
                    padding-bottom: 20px !important;
                    padding-top: 0px !important;
                }
                #escape-buttons-direct-container {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    width: 100% !important;
                }
                #escape-buttons-direct-container button {
                    width: 100% !important;
                }
            }
        }

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            #opt_in_modal {
                width: 60vw !important;
                margin-left: -30vw !important;
            }
        }

        @media screen and (min-width:0\0) and (min-resolution: .001dpcm) {
            #opt_in_modal {
                width: 60vw !important;
                margin-left: -30vw !important;
            }
        }
    </style>
    <div id="overlay-optin"></div>
    <div id="opt_in_modal">
        <div id="first-page-container">
            <div id="all-main-content_container-test">
                <div class="title-container-test">
                    <p id="optin-modal-title">Este website utiliza cookies para seu funcionamento</p>
                </div>
                <div id="main-description-container-test">
                    <div id="main-description-first-content-container">
                        <p>Cookies podem ser vistos como pequenos pedaços de informação que são guardados no seu navegador para diversos usos. Praticamente todo website os utiliza e sempre utilizou. Alguns destes são necessários para funcionamento básico do website. É responsabilidade nossa te avisar sobre seu uso e que ao navegar no website você aceita a utilização dos mesmos. Obrigado!</p>
                    </div>
                    <div id="escape-buttons-container" style="padding-bottom: 40px; padding-left: 34px; padding-right: 40px;">
                        <div id="first-page-buttons-direct-container">
                            <div id="datenschutz-link-container-desktop"></div>
                            <div id="escape-buttons-direct-container">
                                <button
                                    id="accept-all-and-proceed" style="cursor: pointer; padding: 18px !important; font-size: 13px !important; background-color: #8ec524 !important; color: #000000 !important; font-family: open sans, sans-serif; font-weight: bold; border: none; width: 154px;">Entendi!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	!function(){
        var entendi_button = document.querySelector("#accept-all-and-proceed");
        var modal = document.querySelector("#opt_in_modal");
        var overlay = document.querySelector("#overlay-optin");
        var is_optin_cookie_present = (document.cookie.indexOf("optin_options_and_flag") > -1) ? true : false;

        var cookie_setting_manager = function(){
            var time = new Date();
            time.setTime(time.getTime() + 63113904000);

            document.cookie = "optin_options_and_flag=warn_true;expires=" + time.toUTCString() + ";path=/";
        }

        var modal_fade_setter = function(){
            modal.style.visibility = "hidden";
            modal.style.opacity = "0";

            overlay.style.visibility = "hidden";
            overlay.style.opacity = "0";
        }

        var modal_appearer_setter = function(){
            setTimeout(function(){
                modal.style.visibility = "visible";
                modal.style.opacity = "1";

                overlay.style.visibility = "visible";
                overlay.style.opacity = "1";
            }, 50);
        }

        var db_reads_reduction_cookie_management = function(set_or_delete){
            if (set_or_delete == "set") {
                var script = document.createElement("script");
                // script.src = "/modal_request/modal_closed";
                script.src = "https://easy-consent.herokuapp.com/modal_request/modal_closed";
                document.body.appendChild(script);
            }else {
                var script = document.createElement("script");
                script.src = "https://easy-consent.herokuapp.com/modal_request/modal_restore";
                document.body.appendChild(script);
            }
        }

        entendi_button.addEventListener("click", function(){
            cookie_setting_manager();
            modal_fade_setter();
            db_reads_reduction_cookie_management("set");
        });

        if(!is_optin_cookie_present){
            modal_appearer_setter();
        }
    }();
</script>